<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto Django</title>
    <!-- Enlaza el CSS de Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <!-- Contenido de tu página -->
    <div class="container">
        <h1>Bienvenido a mi proyecto Django con Bootstrap</h1>
    </div>

    <!-- Enlaza el JS de Bootstrap -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>