{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/catalogo.css' %}">
</head>
<body>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/slide1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/slide2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/slide3.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <div class="custom-square">
        <h1>Nuevo Transfer</h1>

        <div id="reservation-form-container" >
            <form id="reservation-form" action="{% url 'guardar_transfer' %}" method="post" enctype="multipart/form-data" class="reservation-form">
                <p>ingrese su informacion para completar la reserva</p>
                {% csrf_token %}
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Patente">Patente:</label>
                            <input type="text" id="patente" name="patente" class="form-control form-control-sm" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="marca">Marca:</label>
                            <select name="marca" id="marca" class="form-control form-control-sm">
                            <option value="" class="form-control form-control-sm">Seleccione Marca</option>
                                {% for marca in marcas %}
                                    <option value="{{ marca }}">{{ marca }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="modelo">Modelo:</label>
                            <select name="modelo" id="modelo" class="form-control form-control-sm">
                            <option value="" class="form-control form-control-sm">Seleccione Modelo</option>
                                {% for modelo in modelos %}
                                    <option value="{{ modelo }}">{{ modelo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="capacidad">capacidad:</label>
                            <input type="number" id="capacidad" name="capacidad" class="form-control form-control-sm" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="disponibilidad">Disponibilidad:</label>
                            <select name="disponibilidad" id="disponibilidad" class="form-control">
                                <option value="True">Disponible</option>
                                <option value="False">No Disponible</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="empresa_id">Empresa:</label>
                            <select name="empresa_id" id="empresa_id" class="form-control">
                                <option value="" disabled selected>Seleccione Empresa</option>
                                {% for empresa in empresas %}
                                    <option value="{{ empresa.nombre }}">{{ empresa }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="conductor_id">Conductor:</label>
                            <select name="conductor_id" id="conductor_id" class="form-control">
                                <option value="" disabled selected>Seleccione Conductor</option>
                                {% for conductor in conductores %}
                                    <option value="{{ conductor.rut }}">{{ conductor }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="destino_id">Destino:</label>
                            <select name="destino_id" id="destino_id" class="form-control">
                                <option value="" disabled selected>Seleccione destino</option>
                                {% for dest in destino %}
                                    <option value="{{ dest.comuna }}">{{ dest }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="foto">Foto:</label>
                    <input type="file" id="foto" name="foto" class="form-control-file">
                </div>

                

                <input type="submit" value="Confirmar Reserva">
            </form>
        </div>
    </div>
    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>