{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/transfers.css' %}">
</head>
<body>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/slide1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/slide2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/slide3.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <div class="custom-square">
        <h1>Transfers Disponibles</h1>

        <div class="filtrar">
            <div class="filtrar-content">
                <form id="filter-form" action="{% url 'transfers' %}" method="GET">
                    <label for="marca">Marca:</label>
                    <select id="marca" onchange="this.form.submit()" name="marca" class="form" >
                        <option value="">Seleccionar</option>
                        {% for marca in marcas %}
                            <option value="{{ marca }}" {% if request.GET.marca == marca %}selected{% endif %}>{{ marca }}</option>
                        {% endfor %}
                    </select>

                    <label for="modelo">Modelo:</label>
                    <select id="modelo" name="modelo" onchange="this.form.submit()" class="form">
                        <option value="">Seleccionar</option>
                        {% for modelo in modelos %}
                            <option value="{{ modelo }}" {% if request.GET.modelo == modelo %}selected{% endif %}>{{ modelo }}</option>
                        {% endfor %}
                    </select>

                    <label for="capacidad">Capacidad mínima:</label>
                    <input type="number" id="capacidad" name="capacidad" min="1" class="form" onchange="this.form.submit()" value="{{ request.GET.capacidad }}">

                    <label for="zona">Zona:</label>
                    <select name="zona" id="zona" onchange="this.form.submit()" class="form">
                        <option value="">Selecciona una zona</option>
                        {% for zona in zonas %}
                        <option value="{{ zona }}" {% if zona == selected_zona %}selected{% endif %}>{{ zona }}</option>
                        {% endfor %}
                    </select>
        
                    <label for="comuna">Comuna:</label>
                    <select name="comuna" id="comuna" onchange="this.form.submit()" class="form">
                        <option value="">Selecciona una comuna</option>
                            {% for comuna in comunas %}
                            <option value="{{ comuna }}" {% if comuna == selected_comuna %}selected{% endif %}>{{ comuna }}</option>
                            {% endfor %}
                    </select>
                </form>
            </div>
        </div>
        
        <div class="transfers-container">
            {% for transfer in transfers %}
            <div class="transfer-card">
                {% if transfer.foto %}
                <img src="{{ transfer.foto.url }}" alt="Foto del transfer">
                {% else %}
                <p>No hay foto disponible para este transfer.</p>
                {% endif %}
                <p> Marca: {{ transfer.marca }} Modelo: {{ transfer.modelo }}</p>
                <p> zona: {{ transfer.destino.zona}} comuna: {{transfer.destino.comuna}}</p>


                <div class="mas_info">
                    <p>Capacidad: {{ transfer.capacidad }}</p>
                    <p>Empresa: {{ transfer.empresa }}</p>
                    <p>Conductor: {{ transfer.conductor }}</p>
                </div>

                <a href="{% url 'catalogo' %}?reserva_transfer_id={{ transfer.patente }}&capacidad={{ transfer.capacidad }}" class="reservar_btn">Reservar</a>
                <button class="mas_info_btn">Ver más</button>
            </div>
            {% empty %}
                <p>No se encontraron transfers que coincidan con los filtros.</p>
            {% endfor %}
        </div>
    </div>
    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/transfer.js' %}"></script>
</body>
</html>