body, html {
    height: 100%;
    margin: 0;
}

h1, p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
  }

#carouselExampleIndicators {
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
    position: relative;
}

.carousel-inner {
    width: 100%; 
    height: 100%; 
}

.carousel-item {
    height: 100%; 
}

.carousel-item img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}


.text-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 1;
    background-color:transparent;
    color: #333333;
}

.text-overlay .card {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px); /* Aplica el efecto de desenfoque */
    border-radius: 10px; /* Añade bordes redondeados */
    padding: 10px; /* Ajusta el espaciado interior */
    color: #000000; /* Cambia el color del texto */
    text-align: center; /* Alinea el texto al centro */
}

.text-overlay .card-title {
    margin-bottom: 5px; /* Espaciado inferior para el título */
    font-weight: bold; /* Estilo negrita para el título */
}

.text-overlay .card-text {
    font-size: 18px; /* Tamaño de fuente más grande para el texto */
}

.container-fluid {
    padding: 0; 
}

